<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XcodeCloudPoC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37C90EC92DFC1989005A1049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37C90ED62DFC198B005A1049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37C90EE02DFC198B005A1049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
